/* comment */
h1 {
    color:orange;
}

.inner {
    background-color: blue;
    color: white;
}

.all_btn {
    background-color: blue;
    color: white;
}

#Paragraph_one{
    background-color: coral;
}